* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li a:hover {
  color: #111111;
}

a {
  text-decoration: none;
  color: rgb(163, 157, 157);
}

.logo a img {
  width: 100px;
}

.side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}

ul li a {
  text-transform: uppercase;
  margin: 0 15px 0 20px;
}

ul .icon-zone a i {
  margin-left: -25px;
  color: #000;
}

.icon-zone a i:hover {
  color: rgb(157, 157, 157);
}

/*banner*/
header {
  background: url(../banner.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 89vh;
}

.infomacao-banner {
  padding-top: 7rem;
  margin-left: 4rem;
}

h1 {
  font-size: 4rem;
  letter-spacing: 5px;
  line-height: 3rem;
}

.small {
  font-size: 2rem;
}

.tiny {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.up {
  text-transform: uppercase;
}

.gray {
  color: #949494;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  width: 150px;
  height: 35px;
  font-size: small;
  border-radius: 25px;
  font-weight: 600;
}

.btn-black:active,
.btn-black.ativo {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.btn-black-0:active {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.center {
  position: relative;
  top: 55px;
  left: 43%;
}

#latest-work h2 {
  padding-top: 4rem;
  margin-left: 4rem;
}

.row .center {
  position: relative;
  top: 20px;
  left: -15%;
}

.btn-black {
  margin: 0 5px 0 5px;
}

.grid {
  width: 100%;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "grid-0 grid-1 grid-2 grid-2"
  "grid-3 grid-1 grid-4 grid-5"
   ;
   gap: 4px;
   position: relative;
   top: 125px;
   left: 200px;
   width: 822px;
   height: 420px;
}

.bloco-img img {
  width: 200px;
}

.bloco-0 {
  grid-area: grid-0;
}

.bloco-0 img {
  height: 205px;
}

.bloco-1 {
  grid-area: grid-1;
}

.bloco-2 {
  grid-area: grid-2;
}

.bloco-2 .cadeira {
  width: 405px;
  height: 207px;
}

.bloco-1 .mao {
  height: 412px;
}

.bloco-3 {
  grid-area: grid-3;
}

.bloco-4 {
  grid-area: grid-4;
}

.bloco-5 {
  grid-area: grid-5;
}

.move {
  position: relative;
  top:-5px;
}

.move-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.newslatter {
  height: 35vh;
}

.newslatter h4 {
  font-size: 1.5rem;
  padding-top: 25px;
  margin-bottom: 15px;
letter-spacing: 2.5px;
}

.tiny-0 {
  font-size: medium;
  letter-spacing: 4px;
}

.mb-0 {
  margin-bottom: 25px;
}

.letter-ms p {
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

footer {
  background-color: #111111;
  height: 50vh;
}

.move-center > .logo {
  opacity: 0.5;
  width: 110px;
  height: 50px;
  margin-top: 55px;
  margin-bottom: 25px;
  border: 1px solid gray;
  border-radius: 4px;
}

.footer-info p{

  font-size: small;
  letter-spacing: 10px;
}

.row-icon {
  margin-top: 30px;
}

.row-icon ul li a > i {
  margin: 0 -1px 0 -4px;
  color: #fff;
}

.smaller {
  font-size: small;
  letter-spacing: 1px;
}